<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="bi bi-chat-left"></i>
            ЭссеБот
        </a>
        <div class="d-flex">
            <h6 class="navbar-brand shadow rounded">
                {{current_user.role}}
            </h6>
            <a href="/essay" class="rounded btn btn-outline-info ms-2" type="button">
                Собрать выдержку (принудительно)
            </a>
            <a href="#" class="btn btn-warning ms-2" data-bs-toggle="modal" data-bs-target="#feedbackMessagesModal">
                <div class="position-relative">
                    <i class="bi bi-rss"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{feedback_messages|length}}<span
                            class="visually-hidden">unread messages</span></span>
                </div>
            </a>
            <a href="#" class="btn btn-warning ms-2" data-bs-toggle="modal" data-bs-target="#sendMessageModal">
                <i class="bi bi-chat-dots"></i>
            </a>
            <a href="/admin" class="rounded btn btn-outline-primary ms-2" type="button">
                ADMIN
            </a>
            <a href="/logout" class="btn btn-outline-danger ms-2 me-4" type="button"><i class="bi bi-x-lg"></i></a>
        </div>
    </div>
</nav>
